
body{
  font-family: sans-serif;
  box-sizing: border-box;
}

a{
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
  list-style-type: none;
}

.cats{
  width:400px;
  border: 3px solid rgb(255, 233, 233);
  border-radius: 12px;
  flex: 0 1 auto;
}

.hero{
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
}

.header{
  display: flex;
  padding: 20px;;
}

.header-left{
  display: flex;
  margin-right: auto;
  font-size: 24px;
  color: #E5E7EB;
  padding-left: 30px;;
}

.header-right{
  display: flex;
  margin-left: auto;
}

.header-right ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap:30px;
}


.hero-section2{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items:center;
  flex: 0 1 0;
}

.hero-section2 h2{
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8
}

.hero-section2 p{
  font-size: 18px;
  color: #E5E7EB
}

.hero-section2 button{
  background-color: #3882F6;
  border-radius: 12px;
  width: 200px;
  height:60px;
  color: #F9FAF8;
  font-size: 24px;
}

.hero-section2 .left-hero-content{
  width: 450px;
  padding-left: 40px;;
}

.body-section3{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.body-section3 .squares{
  display: flex;
  gap:30px;
  padding: 15px;
}

.item{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items:center
}

.square{
  border: 3px solid grey;
  border-radius: 12px;
  width:150px;
  height:150px;
}

.item1 .square{
  background-color: #3882F6;
}

.item2 .square{
  background-color: palevioletred;
}

.item3 .square{
  background-color: orangered;
}

.item4 .square{
  background-color: gold;
}